---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import DestinationCard from '../components/DestinationCard.astro';
import type { Destination } from '../types/destination';

const destinations: Destination[] = [
  {
    title: 'Costa',
    description: 'Es más que hermosas playas, es la tierra de los manglares más altos del mundo',
    image: '/images/costa.jpg'
  },
  {
    title: 'Galapagos',
    description: 'Un archipiélago volcánico en el océano Pacífico, famoso por su diversa fauna y belleza natural.',
    image: '/images/galapagos.jpg'
  },
  {
    title: 'Sierra',
    description: 'Un estratovolcán activo en la cordillera de los Andes, popular para practicar senderismo y escalada.',
    image: '/images/sierra.jpg'
  }
];
---

<Layout title="Aventura - Ecuador">
  <Hero />
  <section class="container mx-auto py-16">
    <h2 class="text-3xl font-bold mb-8">Más sobre Ecuador</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {destinations.map(destination => (
        <DestinationCard {...destination} />
      ))}
    </div>
  </section>
</Layout>
